.header-website{
    position: sticky;
    top: 0;
    left: 0;
    background-color: $dark;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: $dark;
    .menu{
        .menu-input{
            display: none;

            &:checked ~ .dropdown-menu{
                max-height: 100vh;
            }
        }
        @media screen and (min-width: 768px){
            .menu-input-label{
                display: none;
            }
        }
        .dropdown-menu{
            transition: max-height ease-out 0.2s;
            max-height: 0;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: $accent;
            overflow: hidden;
            top: 100%;
                .nav-links{
                    padding: 15px;
                    .nav-link{
                        display: block;
                        padding: 10px;
                        a {
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
                @media screen and (min-width: 768px){
                    max-height: 100vh;
                    position: relative;
                    background-color: $dark;
                    .nav-links{
                        display: flex;
                        justify-content: space-between;
                        padding: 0;
                        background-color: $dark;
                    }
                }
            }
        }

    }
}
